.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  height: 8vh;
  background-color: lightskyblue;
  font-size: x-large;
  text-align: center;
}

.newRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.clabel {
  margin-left: 2%;
  margin-top: 2%;
  font-size: larger;
  color: white;
  font-weight: bold;
}
.control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2%;
}

button {
  width: 70vh;
  height: 20vh;
  font-size: 2em;
  font-weight: bold;
}
.nav--bar {
    height: 215px;
    width: 1512px;
  }
  .backdrop {
    height: 190px;
    width: 1512px;
    background-color: #a5dbb8;
  }
  .text-1 {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-family: Inter;
    line-height: 24%;
    color: #000000;
  }
  .login-icon {
    height: 84px;
    width: 77px;
    background-color: #ffffff;
  }
  .text-2 {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-family: Inter;
    line-height: 24%;
    color: #000000;
  }
  .logo {
    height: 96px;
    width: 107px;
  }
  
  .nav--bar {
    height: 215px;
    width: 1512px;
  }
  .backdrop {
    height: 190px;
    width: 1512px;
    background-color: #a5dbb8;
  }
  .text-1 {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-family: Inter;
    line-height: 24%;
    color: #000000;
  }
  .login-icon {
    height: 84px;
    width: 77px;
    background-color: #ffffff;
  }
  .text-2 {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-family: Inter;
    line-height: 24%;
    color: #000000;
  }
  .logo {
    height: 96px;
    width: 107px;
  }