.nav--bar {
    position: absolute;
    width: 1512px;
    height: 215px;
    left: 0px;
    top: 0px;
  }
  .backdrop {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    background: #A6DCB8;
  }
  .text-1 {
    position: absolute;
    left: 80.42%;
    right: 3.9%;
    top: 59.07%;
    bottom: 21.4%;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    /* or 50% */
  
    display: flex;
    align-items: center;
    text-align: center;
    /*text-transform: uppercase;*/
  
    color: #000000;
  }
  .login-icon {
    position: absolute;
    height: 84px;
    width: 77px;
    left: 82.71%;
    right: 9.17%;
    top: 19.07%;
    bottom: 41.72%;
  }
  .digital-receipt-system {
    position: absolute;
    left: 27.58%;
    right: 27.51%;
    top: 24.19%;
    bottom: 31.16%;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 24px;
    /* or 50% */
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  
    color: #000000;
  }
  .logo {
    height: 96px;
    width: 107px;
  }
  .left-bar {
    position: absolute;
    width: 340px;
    height: 767px;
    left: 0px;
    top: 215px;
  
    background: #59F5B4;
  }