
.receipt-summary-box {
 
    width: 1046px;
    height: 88px;
    /*left: 340px;
    top: 215px;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 8px 56px;
    gap: 40px;
    background-color: #f8f7f9;
}
.text-3 {

    width: 183px;
    height: 72px;
    /*left: 56px;
    top: 32px;*/
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    font-family: Inter;
    line-height: 24%;
    color: #181819;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*
    padding: 0px;

    position: static;
    width: 609px;
    height: 72px;
    left: 279px;
    top: 80px;

    transform: matrix(1, 0, 0, -1, 0, 0);

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 40px;
    align-items: flex-start;*/

}
.text-4 {
 
    width: 401px;
    height: 72px;
    /*left: 239px;
    top: 0px;*/

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: right;

    /* Grey */

    color: #19181A;


    /* Inside auto layout */

    /*
    position: static;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    text-align: right;
    vertical-align: middle;
    font-size: 24px;
    font-family: Inter;
    line-height: 24%;
    color: #181819;*/
}
.text-5 {
 
    width: 208px;
    height: 72px;
    /*left: 801px;
    top: 0px;*/
    text-align: right;
    vertical-align: middle;
    font-size: 24px;
    font-family: Inter;
    line-height: 24%;
    color: #181819;
    display: flex;
    align-items: center;
}
.img-4 {
    opacity: 1;

    /*left: 1089px;
    top: 50px;*/
    height: 17px;
    width: 41px;
}
